<tr>
  <th scope="row"><%=producto.id %></th>
  <td><%=producto.nombre %></td>
  <td>$ <%=producto.precio %></td>
  <td>
    <img
      style="width: 3rem"
      src="<%=producto.thumbnail %>"
      alt="<%=producto.nombre %>"
    />
  </td>
</tr>
